Repository vetriselvan-pv/BrahMos: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{json,css,scss,md}": ["prettier --write" ],
  "*.{js,jsx,ts,tsx}" : ["eslint", "prettier --write"]
}

fix(lint): lint checking
  apps/viva-acadamey/src/app/nx-welcome.component.ts
Due: prettier --write, eslint

feat(design-board): ngx integrated
  apps/vadivamaippu-palakai/src/app/app.component.ts
  apps/vadivamaippu-palakai/src/assets/json/css-properties.json
  apps/vadivamaippu-palakai/src/main.ts
  apps/vadivamaippu-palakai/src/scss/studio.scss
  libs/custom-studio/src/index.ts
  libs/custom-studio/src/lib/components/menu-bar-list/menu-bar-list.component.html
  libs/custom-studio/src/lib/components/menu-bar-list/menu-bar-list.component.scss
  libs/custom-studio/src/lib/components/menu-bar-list/menu-bar-list.component.spec.ts
  libs/custom-studio/src/lib/components/menu-bar-list/menu-bar-list.component.ts
  libs/custom-studio/src/lib/components/menu-bar/menu-bar.component.html
  libs/custom-studio/src/lib/components/menu-bar/menu-bar.component.scss
  libs/custom-studio/src/lib/components/menu-bar/menu-bar.component.spec.ts
  libs/custom-studio/src/lib/components/menu-bar/menu-bar.component.ts
  libs/custom-studio/src/lib/components/studio-board/studio-board.component.html
  libs/custom-studio/src/lib/components/studio-board/studio-board.component.scss
  libs/custom-studio/src/lib/components/studio-board/studio-board.component.spec.ts
  libs/custom-studio/src/lib/components/studio-board/studio-board.component.ts
  libs/custom-studio/src/lib/components/studio-container/studio-container.component.html
  libs/custom-studio/src/lib/components/studio-container/studio-container.component.scss
  libs/custom-studio/src/lib/components/studio-container/studio-container.component.spec.ts
  libs/custom-studio/src/lib/components/studio-container/studio-container.component.ts
  libs/custom-studio/src/lib/components/template/template.component.html
  libs/custom-studio/src/lib/components/template/template.component.scss
  libs/custom-studio/src/lib/components/template/template.component.spec.ts
  libs/custom-studio/src/lib/components/template/template.component.ts
  libs/custom-studio/src/lib/custom-studio.module.ts
  libs/custom-studio/src/lib/custom-studio.routes.ts
  libs/custom-studio/src/lib/directives/dragable.directive.ts
  libs/custom-studio/src/lib/directives/dropable.directive.ts
  libs/custom-studio/src/lib/services/drag.service.ts
  libs/custom-studio/src/lib/state/index.ts
  libs/custom-studio/src/lib/state/studio.actions.ts
  libs/custom-studio/src/lib/state/studio.model.ts
  libs/custom-studio/src/lib/state/studio.state.ts
  libs/custom-studio/src/lib/studio-container/studio-container.component.spec.ts
  libs/studio-modal/src/lib/studio-modal.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

feat(design-board): add child element to the store done
  libs/custom-studio/src/lib/components/menu-bar/menu-bar.component.ts
  libs/custom-studio/src/lib/components/studio-board/studio-board.component.html
  libs/custom-studio/src/lib/components/studio-board/studio-board.component.ts
  libs/custom-studio/src/lib/components/template/template.component.html
  libs/custom-studio/src/lib/components/template/template.component.ts
  libs/custom-studio/src/lib/state/childFn.function.ts
  libs/custom-studio/src/lib/state/studio.actions.ts
  libs/custom-studio/src/lib/state/studio.model.ts
  libs/custom-studio/src/lib/state/studio.state.ts
  libs/studio-modal/src/lib/studio-modal.ts
Due: prettier --write, eslint

feat(chrome-devtool): communication to devtool to webpage done
  apps/chrome-devtool-e2e/.eslintrc.json
  apps/chrome-devtool-e2e/cypress.config.ts
  apps/chrome-devtool-e2e/project.json
  apps/chrome-devtool-e2e/src/e2e/app.cy.ts
  apps/chrome-devtool-e2e/src/fixtures/example.json
  apps/chrome-devtool-e2e/src/support/app.po.ts
  apps/chrome-devtool-e2e/src/support/commands.ts
  apps/chrome-devtool-e2e/src/support/e2e.ts
  apps/chrome-devtool-e2e/tsconfig.json
  apps/chrome-devtool/.eslintrc.json
  apps/chrome-devtool/jest.config.ts
  apps/chrome-devtool/project.json
  apps/chrome-devtool/src/app/app.component.html
  apps/chrome-devtool/src/app/app.component.scss
  apps/chrome-devtool/src/app/app.component.spec.ts
  apps/chrome-devtool/src/app/app.component.ts
  apps/chrome-devtool/src/app/app.module.ts
  apps/chrome-devtool/src/app/app.routes.ts
  apps/chrome-devtool/src/app/nx-welcome.component.ts
  apps/chrome-devtool/src/assets/.gitkeep
  apps/chrome-devtool/src/assets/images/google.png
  apps/chrome-devtool/src/devtools.html
  apps/chrome-devtool/src/devtools.js
  apps/chrome-devtool/src/favicon.ico
  apps/chrome-devtool/src/index.html
  apps/chrome-devtool/src/main.ts
  apps/chrome-devtool/src/manifest.json
  apps/chrome-devtool/src/service_worker.js
  apps/chrome-devtool/src/styles.scss
  apps/chrome-devtool/src/test-setup.ts
  apps/chrome-devtool/tsconfig.app.json
  apps/chrome-devtool/tsconfig.editor.json
  apps/chrome-devtool/tsconfig.json
  apps/chrome-devtool/tsconfig.spec.json
  apps/vadivamaippu-palakai/src/app/app.component.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

feat(angular-schematic): schematic lib added
  brahmos-add-schematic-0.0.1.tgz
  libs/add-schematic/.eslintrc.json
  libs/add-schematic/README.md
  libs/add-schematic/jest.config.ts
  libs/add-schematic/ng-package.json
  libs/add-schematic/package.json
  libs/add-schematic/project.json
  libs/add-schematic/schematics/collection.json
  libs/add-schematic/schematics/ng-add/add-module.ts
  libs/add-schematic/schematics/ng-add/index.ts
  libs/add-schematic/src/index.ts
  libs/add-schematic/src/lib/add-schematic.module.ts
  libs/add-schematic/src/test-setup.ts
  libs/add-schematic/tsconfig.json
  libs/add-schematic/tsconfig.lib.json
  libs/add-schematic/tsconfig.lib.prod.json
  libs/add-schematic/tsconfig.schematics.json
  libs/add-schematic/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write, eslint

docs(react-docs): react cli docs
  Docs/Nx-react-cli.md
Due: prettier --write

feat(react-framework): initial added
  apps/hotel-management/src/app/app.tsx
  apps/hotel-management/src/app/formcontrol.ts
Due: prettier --write, eslint

feat(nx-migration): nx migration to latest
  libs/studio-core.zip
  migrations.json
  package.json
Due: prettier --write

feat(nx-migrate): migration done
  .gitignore
  migrations.json
  package.json
Due: prettier --write

feat(doc): git docs
  Docs/Angular Traning.md
  Docs/git-cli.md
Due: prettier --write

feat(doc): removed zip file
  libs/studio-core.zip
Due: none

feat(framework): dev started
  Docs/Angular library.md
  libs/tad/core/src/lib/base/base-tad-control.ts
  libs/tad/form/src/lib/tad-form-builder/form.json
  libs/tad/form/src/lib/tad-form-builder/tad-form-builder.component.html
  libs/tad/form/src/lib/tad-form-builder/tad-form-builder.component.scss
  libs/tad/form/src/lib/tad-form-builder/tad-form-builder.component.spec.ts
  libs/tad/form/src/lib/tad-form-builder/tad-form-builder.component.ts
  libs/tad/form/src/lib/tad-form.module.ts
  migrations.json
  package.json
Due: prettier --write, eslint

feat(nikkah-bai): workspace setup
  .prettierignore
  apps/nikkah-bai-briyani-e2e/.eslintrc.json
  apps/nikkah-bai-briyani-e2e/cypress.config.ts
  apps/nikkah-bai-briyani-e2e/project.json
  apps/nikkah-bai-briyani-e2e/src/e2e/app.cy.ts
  apps/nikkah-bai-briyani-e2e/src/fixtures/example.json
  apps/nikkah-bai-briyani-e2e/src/support/app.po.ts
  apps/nikkah-bai-briyani-e2e/src/support/commands.ts
  apps/nikkah-bai-briyani-e2e/src/support/e2e.ts
  apps/nikkah-bai-briyani-e2e/tsconfig.json
  apps/nikkah-bai-briyani/.eslintrc.json
  apps/nikkah-bai-briyani/jest.config.ts
  apps/nikkah-bai-briyani/project.json
  apps/nikkah-bai-briyani/src/app/app.component.html
  apps/nikkah-bai-briyani/src/app/app.component.scss
  apps/nikkah-bai-briyani/src/app/app.component.spec.ts
  apps/nikkah-bai-briyani/src/app/app.component.ts
  apps/nikkah-bai-briyani/src/app/app.config.ts
  apps/nikkah-bai-briyani/src/app/app.routes.ts
  apps/nikkah-bai-briyani/src/app/home/home.component.html
  apps/nikkah-bai-briyani/src/app/home/home.component.scss
  apps/nikkah-bai-briyani/src/app/home/home.component.spec.ts
  apps/nikkah-bai-briyani/src/app/home/home.component.ts
  apps/nikkah-bai-briyani/src/assets/.gitkeep
  apps/nikkah-bai-briyani/src/assets/background-image/bg.jpg
  apps/nikkah-bai-briyani/src/favicon.ico
  apps/nikkah-bai-briyani/src/index.html
  apps/nikkah-bai-briyani/src/main.ts
  apps/nikkah-bai-briyani/src/styles.scss
  apps/nikkah-bai-briyani/src/test-setup.ts
  apps/nikkah-bai-briyani/tsconfig.app.json
  apps/nikkah-bai-briyani/tsconfig.editor.json
  apps/nikkah-bai-briyani/tsconfig.json
  apps/nikkah-bai-briyani/tsconfig.spec.json
  nx.json
  package.json
Due: prettier --write, eslint

feat(nikka-src): home screen done
  apps/nikkah-bai-briyani/src/_variables.scss
  apps/nikkah-bai-briyani/src/app/app.component.html
  apps/nikkah-bai-briyani/src/app/app.component.scss
  apps/nikkah-bai-briyani/src/app/app.component.ts
  apps/nikkah-bai-briyani/src/app/app.routes.ts
  apps/nikkah-bai-briyani/src/app/header/header.component.html
  apps/nikkah-bai-briyani/src/app/header/header.component.scss
  apps/nikkah-bai-briyani/src/app/header/header.component.spec.ts
  apps/nikkah-bai-briyani/src/app/header/header.component.ts
  apps/nikkah-bai-briyani/src/app/home/home.component.html
  apps/nikkah-bai-briyani/src/app/home/home.component.scss
  apps/nikkah-bai-briyani/src/app/home/home.component.ts
  apps/nikkah-bai-briyani/src/app/table/table.component.html
  apps/nikkah-bai-briyani/src/app/table/table.component.scss
  apps/nikkah-bai-briyani/src/app/table/table.component.spec.ts
  apps/nikkah-bai-briyani/src/app/table/table.component.ts
  apps/nikkah-bai-briyani/src/assets/background-image/beef-Biryani.jpg
  apps/nikkah-bai-briyani/src/assets/background-image/briyani.png
  apps/nikkah-bai-briyani/src/assets/background-image/chicken-briyani.jpeg
  apps/nikkah-bai-briyani/src/assets/background-image/mutton-briyani.jpeg
  apps/nikkah-bai-briyani/src/assets/background-image/sample.png
  apps/nikkah-bai-briyani/src/assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf
  apps/nikkah-bai-briyani/src/assets/fonts/Dancing_Script/OFL.txt
  apps/nikkah-bai-briyani/src/assets/fonts/Dancing_Script/README.txt
  apps/nikkah-bai-briyani/src/assets/fonts/Dancing_Script/static/DancingScript-Bold.ttf
  apps/nikkah-bai-briyani/src/assets/fonts/Dancing_Script/static/DancingScript-Medium.ttf
  apps/nikkah-bai-briyani/src/assets/fonts/Dancing_Script/static/DancingScript-Regular.ttf
  apps/nikkah-bai-briyani/src/assets/fonts/Dancing_Script/static/DancingScript-SemiBold.ttf
  apps/nikkah-bai-briyani/src/styles.scss
Due: prettier --write, eslint

feat(core-libr): core library added
  .prettierignore
  Docs/nx-json-configuration.ts
  apps/viva-acadamey/src/app/app.component.scss
  libs/tad/form-components/.eslintrc.json
  libs/tad/form-components/README.md
  libs/tad/form-components/assets/scss/_grid.scss
  libs/tad/form-components/assets/scss/_theme.scss
  libs/tad/form-components/assets/scss/_variables.scss
  libs/tad/form-components/jest.config.ts
  libs/tad/form-components/ng-package.json
  libs/tad/form-components/package.json
  libs/tad/form-components/project.json
  libs/tad/form-components/src/index.ts
  libs/tad/form-components/src/lib/tad-form-components.module.ts
  libs/tad/form-components/src/test-setup.ts
  libs/tad/form-components/tsconfig.json
  libs/tad/form-components/tsconfig.lib.json
  libs/tad/form-components/tsconfig.lib.prod.json
  libs/tad/form-components/tsconfig.spec.json
  nx.json
  package.json
  tsconfig.base.json
Due: prettier --write, eslint

migrate(nx_17): nx workspace migation done
  .gitignore
  .prettierignore
  apps/chrome-devtool/project.json
  apps/chrome-devtool/src/app/nx-welcome.component.ts
  apps/cv-e2e/project.json
  apps/cv/project.json
  apps/cv/src/app/about/about.component.html
  apps/hotel-management/project.json
  apps/nikkah-bai-briyani-e2e/project.json
  apps/nikkah-bai-briyani/project.json
  apps/think-and-do/project.json
  apps/vadivamaippu-palakai/project.json
  apps/viva-acadamey/project.json
  apps/viva-academy-admin/project.json
  apps/viva-academy-admin/src/app/nx-welcome.component.ts
  libs/add-schematic/package.json
  libs/add-schematic/project.json
  libs/shared-modal/project.json
  libs/studio-modal/project.json
  libs/tad/core/project.json
  libs/tad/form-components/package.json
  libs/tad/form-components/project.json
  libs/tad/form/project.json
  libs/tad/grid/project.json
  migrations.json
  nx.json
  package.json
  tsconfig.base.json
Due: prettier --write, eslint

refactor(commit-lint): commit lint enum added
  .commitlintrc.json
Due: prettier --write

feat(lib-components): stepper added
  Docs/Angular library.md
  Docs/figma.txt
  apps/vadivamaippu-palakai/src/app/app.component.html
  apps/vadivamaippu-palakai/src/app/app.component.ts
  libs/tad/stepper/.eslintrc.json
  libs/tad/stepper/README.md
  libs/tad/stepper/jest.config.ts
  libs/tad/stepper/ng-package.json
  libs/tad/stepper/package.json
  libs/tad/stepper/project.json
  libs/tad/stepper/src/index.ts
  libs/tad/stepper/src/lib/tad-step/tad-step-header.html
  libs/tad/stepper/src/lib/tad-step/tad-step-header.ts
  libs/tad/stepper/src/lib/tad-step/tad-step.component.html
  libs/tad/stepper/src/lib/tad-step/tad-step.component.scss
  libs/tad/stepper/src/lib/tad-step/tad-step.component.spec.ts
  libs/tad/stepper/src/lib/tad-step/tad-step.component.ts
  libs/tad/stepper/src/lib/tad-stepper/tad-stepper.component.html
  libs/tad/stepper/src/lib/tad-stepper/tad-stepper.component.scss
  libs/tad/stepper/src/lib/tad-stepper/tad-stepper.component.spec.ts
  libs/tad/stepper/src/lib/tad-stepper/tad-stepper.component.ts
  libs/tad/stepper/src/test-setup.ts
  libs/tad/stepper/tsconfig.json
  libs/tad/stepper/tsconfig.lib.json
  libs/tad/stepper/tsconfig.lib.prod.json
  libs/tad/stepper/tsconfig.spec.json
  nx.json
  tsconfig.base.json
Due: prettier --write, eslint

feat(migartion-done): migartion done to latest nx
  .env
  apps/cv-e2e/project.json
  apps/cv/project.json
  apps/nikkah-bai-briyani-e2e/project.json
  apps/nikkah-bai-briyani/project.json
  libs/tad/components/project.json
  libs/tad/core/project.json
  libs/tad/stepper/project.json
  migrations.json
  nx.json
  package.json
Due: prettier --write

feat(stepper-changes): stepper changes done
  apps/vadivamaippu-palakai/src/styles.scss
  libs/tad/stepper/src/lib/tad-stepper/tad-stepper.component.html
  libs/tad/stepper/src/lib/tad-stepper/tad-stepper.component.scss
  package.json
Due: prettier --write

feat(sudio): html tag
  apps/chrome-devtool/src/app/app.component.ts
  apps/vadivamaippu-palakai/src/app/app.component.html
  apps/vadivamaippu-palakai/src/app/app.component.ts
  libs/custom-studio/src/lib/components/menu-bar-list/menu-bar-list.component.ts
  libs/custom-studio/src/lib/components/menu-bar/menu-bar.component.ts
  libs/custom-studio/src/lib/components/studio-board/studio-board.component.html
  libs/custom-studio/src/lib/components/studio-board/studio-board.component.ts
  libs/custom-studio/src/lib/components/template/template.component.ts
  libs/custom-studio/src/lib/config/html-config.ts
  libs/custom-studio/src/lib/directives/dragable.directive.ts
  libs/custom-studio/src/lib/directives/dropable.directive.ts
  libs/custom-studio/src/lib/services/studio-state.service.ts
  libs/custom-studio/src/lib/state/studio.state.ts
  libs/studio-core/src/lib/element/element.component.ts
  libs/studio-core/src/lib/menu-bar-list/menu-bar-list.component.ts
  libs/studio-core/src/lib/menu-bar/menu-bar.component.ts
  libs/studio-core/src/lib/studio-board/studio-board.component.ts
  libs/studio-core/src/lib/template/template.component.ts
  libs/studio-modal/src/lib/studio-modal.ts
Due: prettier --write, eslint
